@model IEnumerable<GFClaim.Models.Patient>

@{
    ViewBag.Title = "Patient List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Patient List</h2>

<p>
    @Html.ActionLink("Create New Patient", "New")
</p>
<table class="table" id="PatientTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th></th>
            <th>JS delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>


                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td><button class="btn btn-link js-delete" data-patient-id="@item.Id" data-patient-name="@item.FirstName @item.LastName">JS delete</button></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function()
        {
            debugger;
            $("#PatientTable").DataTable();

            // 这里，把on的click handler附在PatientTable，然后 on里加上filter:js-delete, 而不是在每一行的patient row上以节省内存
            //$("#PatientTable .js-delete").on("click", function () {
            $("#PatientTable").on("click", ".js-delete", function () {
                button = $(this);
                //这里用bootbox替代JS丑confirm   if (confirm("Are you sure delete patient : " + button.attr("data-patient-name")))
                bootbox.confirm("Are you sure delete patient : " + button.attr("data-patient-name"), function (result)
                {
                    if (result) {
                        $.ajax({
                            url: "/api/patients/" + button.attr("data-patient-id"),
                            method: "Delete",
                            success: function () {
                                console.log("sucess delete patient" + button.attr("data-patient-name"));
                                button.parents("tr").remove();
                             
                            }
                        })
                    }
                })
            })
        })
    </script>

}
